@import '/src/styles/reset.css';

@font-face {
    font-family: 'pixel';
    // because of the fact that this really goes in the main.css we use that files relative path instead
    src: url('../src/assets/fonts/computer_pixel-7.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#score {
    // display: flex;
    font-family: 'pixel';
    position: fixed;
    color: white;
    font-size: 100px;
    padding-left: 1%;
    // margin: auto;
    // padding-top: 1%;
}

#game {
    width: 100%;
    height: 100%;
    display: block;
    // background: #bdc3c7;
}

.menu {
    // z-index: 2;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    position: fixed;
    background-color: rgba(112, 145, 253, 0.295);
    width: 100%; 
    height: 100%;
    color: white;
    font-family: 'pixel';
}

.menu.hidden {
    display: none;
    // z-index: -1;
}

#start-button {
    font-size: 75px;
}

#start-button:hover {
    cursor: pointer;
}

#instructions {
    cursor: default;
}

ul li {
    padding-bottom: 20px;
    font-size: 35px;
}

#hint {
    font-size: 20px;
}






