@import '/src/styles/reset.css';

#game {
    width: 100%;
    height: 100%;
    display: block;
    // background: #bdc3c7;
}

#menu {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    top: 0px;
    left: 0px;
    width: 100%; 
    height: 100%;
}

#start-button {
    height: 50px; 
    width: 200px; 
    position: relative;
    top: 45%; 
    left: 45%; 
    font-size: 35px;
}

#start-button:hover {
    cursor: pointer;
}

#instructions {
    cursor: default;
    position: absolute;
    top: 50%;
    left: 47.5%
}

#instructions li {
    display: flex; 
    justify-content: center;
    padding-top: 20px;
}



